.webform-client-form-1{
	max-width: 600px;
	margin: 0 auto;
	fieldset{
		border: none;
		box-shadow: none;
		.panel-heading{
			background-color: transparent;
			border: none;
		    .panel-title{
			    font-size: 20px;
			    font-weight: 700
		    }
		}
		.control-label{
			font-weight: 500
		}
		.form-control{
			border: 0px none;
			border-bottom: 1px solid grey;
			border-radius: 0;
			box-shadow: none;
			&.form-file{
				width: 70%;
    			display: inline-block;
    			margin-right: 20px
			}
		}
	}
}

.page-designer-maker-directory{
	.row{
		margin: 0;
		.col-sm-12{
			padding: 0;
		}
	}
	.view-filters{
		margin: 50px 0;
		form{
		    max-width: 53%;
		    margin: 0 auto;
		    .form-control{
		    	border-radius: 0;
			    height: 50px;
			    box-shadow: none;
			    color: #6f7588;
    			font-size: 17px;
		    }
		}
	}

	.view-header-pink{
		font-size: 36px;
		background: #ed1c8b;
	    color: #fff;
	    height: 102px;
	    line-height: 100px;
	    padding-left: 250px
	}
	.pane-designer-maker-directory:first-child{
		padding: 40px 0;
		background-color: #DADADA;
		h2,.pane-content{
			max-width: 1170px;
			margin: 0 auto;
		}
		h2{
			color: #454a5b;
		    font-size: 36px;
		    font-weight: 400;
		    margin-bottom: 40px;
		}
		.item-list{
			ul{
				padding: 0;
				list-style: none;
				li{
					.field-content{
						img{
							box-shadow: 0px 10px 55px 0px rgba(0, 0, 0, 0.1);
							vertical-align: top;
							margin-right: 30px;
							object-fit: cover;
						    width: 100%;
						    position: absolute;
						    left: 0;
						    top: 0;
						    position: relative;
						    width: 350px;
						    height: 350px;
						}
						.rightSide{
							display: inline-block;
							width: 60%;
							p{
								color: #454a5b;
								font-weight: 400;
								&:first-child{
									font-size: 30px;
								}
								&:nth-child(2){
									font-size: 16px;
									text-transform: uppercase;
								}
								&:last-of-type{
									font-weight: 300;
									margin-bottom: 30px
								}
							}
							a{
								position: relative;
							    display: inline-block;
							    min-height: 50px;
							    line-height: 1;
							    padding: 18px 20px;
							    transition: background-color linear .1s;
							    text-decoration: none;
							    background-color: #ed1c8b;
							    color: #fff;
							    text-transform: uppercase;
							    padding: 0 30px !important;
							    line-height: 50px;
							    &:before{
							    	content: '';
								    position: absolute;
								    display: inline-block;
								    right: -36px;
								    top: 34%;
								    cursor: pointer;
								    width: 19px;
								    height: 16px;
								    line-height: 49px;
								    text-align: center;
								    background: url(../images/icon-arrow.png) no-repeat;
								    background-size: 19px 16px;
								    z-index: 10;
							    }
							    &:after{
							    	content: '';
								    position: absolute;
								    display: inline-block;
								    right: -49px;
								    top: 0;
								    cursor: pointer;
								    width: 50px;
								    height: 100%;
								    line-height: 49px;
								    text-align: center;
								    background-color: #d80780;
							    }
							}
						}
					}
				}
			}
		}
	}
	.view-id-designer_maker_directory{
		&.view-display-id-block{
			.view-content{
				background-color: #dadada;
				padding: 40px 0;
				.item-list{
					max-width: 1170px;
					margin: 0 auto;
					list-style: none;
					li{
						position: relative;
						background-color: #fff;
						box-shadow: 0px 4px 15px -2px rgba(0, 0, 0, 0.19);
						width: 30%;
						display: inline-block;
						margin-right: 20px;
						margin-bottom: 40px;
						.views-field-profile-image-11{
						    position: relative;
						    width: 100%;
						    height: 100px;
						    padding-bottom: 100%;
						    overflow: hidden;
						    display: block;
						    img{
						    	object-fit: cover;
							    width: 100%;
							    position: absolute;
							    left: 0;
							    top: 0;
							    height: 100%;
						    }
						}
						.views-field-last-name{
							margin: 25px 0;
							text-align: center;
    						display: block;
    						color: #454a5b;
						    font-size: 24px;
						    font-weight: 400;
						}
						.views-field-nothing{
							position: absolute;
						    top: 0;
						    left: 0;
						    height: 100%;
						    width: 100%;
						    opacity: 0;
						    a{
						    	display: block;
							    width: 100%;
							    height: 100%;
						    }
						}
					}
				}
			}
		}
	}
}

.page-designer-maker-profile{
	.row{
		margin: 0;
		.col-sm-12{
			padding: 0;
		}
	}
	.panel-col-top{
		margin-bottom: 40px;
		width: 100%;
		.view-header{
			font-size: 36px;
			background: #ed1c8b;
		    color: #fff;
		    height: 102px;
		    line-height: 100px;
		    padding-left: 250px
		}
		img{
			object-fit: cover;
		    width: 100%;
		    height: 320px;
		}
	}
	.center-wrapper{
		max-width: 1170px;
		margin: 0 auto;
		.panel-col-first{
			width: 70%;
			.pane-title{
				line-height: 28px;
			    font-size: 36px;
			    font-weight: 400;
			    color: #454a5b;
			    margin-top: 0;
			    margin-bottom: 40px;
			}
			.field-content{
				p,span{
					display: inline-block;
				}
				span{
					padding: 0 20px;
					font-size: 24px;
					line-height: 24px;
					border-right: 1px solid black;
					&:first-child{
						padding-left: 0
					}
					&:last-of-type{
						border-right: 0px none
					}
				}
				.btmContent{
					margin-top: 20px;
					div{
						display: inline-block;
						&:first-child{
							width: 23%;
							img{
								border-radius: 50%;
							    width: 160px;
							    height: 160px;
							}
						}
						&:last-child{
							width: 76%;
							padding-right: 30px;
							vertical-align: middle;
							p{
								font-size: 16px;
								color: #454a5b
							}
							a{
								display: block;
								margin-top: 20px;
								text-transform: capitalize;
								color: #00bff3;
							}
						}
					}
				}
			}
		}
		.panel-col-last{
			width: 30%;
			.pane-designer-maker-profile{
				padding-top: 50px;
				.pane-title{
					font-size: 16px;
				    text-transform: uppercase;
				    color: #454a5b;
				    .field-content{
				    	a{
				    		font-weight: 300;
    						font-size: 16px;
    						color: #00bff3;
				    	}
				    }
				}
			}
		}
	}
	.panel-col-bottom{
		background-color: #dadada;
		margin-top: 50px;
   		padding: 40px 0 80px;
   		.inside{
   			max-width: 1170px;
   			margin: 0 auto;
   			.pane-title{
	   			line-height: 28px;
			    font-size: 36px;
			    font-weight: 400;
			    color: #454a5b;
			    margin: 0 0 40px 0;
	   		}
	   		.item-list{
	   			max-width: 730px;
	   			margin: 0 auto;
	   			position: relative;
	   			box-shadow: 0px 10px 55px 0px rgba(0, 0, 0, 0.1);
	   			ul{
		   			li{
		   				background-color: #fff;
		   				img{
		   					object-fit: cover;
						    width: 100%;
						    height: 487px;
						    margin-bottom: 20px;
		   				}
		   			}
		   		}
		   		.views-field-portfolio-image-title-4{
		   			p{
	   				    font-weight: 400;
					    font-size: 24px;
					    margin-bottom: 20px;
					    padding: 0 20px
		   			}
		   		}
		   		.views-field-portfolio-image-description-5{
		   			margin-bottom: 40px;
		   			p{
		   				padding: 0 20px;
					    font-weight: 300;
		   			}
		   		}
	   		}
	   		.flex-control-nav{
	   			display: none
	   		}
	   		.flex-direction-nav{
	   			.flex-nav-prev,.flex-nav-next{
	   				a{
	   					height: 45px;
	   					opacity: 1;
	   					-webkit-transform: translateY(-50%);
	   					-ms-transform: translateY(-50%);
	   					transform: translateY(-50%);
	   					&:before{
	   						color: #fff
	   					}
	   				}
	   			}
	   		}
   		}
	}
}






















